.tablero-clima {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.tablero-clima .seccion-tablero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 350px;
    border: solid #000 1px ;
  }

  .seccion-tablero .grafica-clima{
    width: 100%;
    height: 100%;
  }

  .grafica-clima h3{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.5rem;
    height: 4rem;
  }

  .grafica-clima .contenedor-grafica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grafica-clima .contenedor-grafica .canva-grafica {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17rem;
  }

  .ult-question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25rem;
    border: solid #000 1px ;
    margin: 1rem;
  }

  .ult-question .grafica-clima{
    margin: 1rem;
    width: 100%;
    height: 100%;
  }

  .preguntas-abiertas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .preguntas-abiertas .contenido-tabla{
    height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc; /* Opcional, para darle un borde al contenedor */
    width: auto;
    border: solid #000 1px ;
    padding: 1rem;
  }

  .preguntas-abiertas .contenido-tabla table{
    width: 100%;
  }

  .preguntas-abiertas .contenido-tabla table thead th{
    background-color: #d3d2d2;
    padding: 0.5rem;
    border: 1px solid black;
  }
  .preguntas-abiertas .contenido-tabla table tbody td{
    padding: 0.5rem;
    border: 1px solid black;
  }
